.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.card {
  width: 500px;
}

.card-header {
  justify-content: center;
  margin-bottom: 1rem;
}

.card-title,
.card-subtitle {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  width: 100%;
}

.button {
  width: 130px;
  margin-left: 10px;
}

.resultado {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
