<div class="container">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">Calcular CDB</mat-card-title>
      <mat-card-subtitle class="card-subtitle"
        >Calcule quanto pode render seu investimento em CDB</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <form class="form" [formGroup]="this.formGroup" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Valor Inicial</mat-label>
          <input matInput formControlName="valorInicial" type="text" />
          <mat-icon matSuffix>price_change</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Quantidade de Meses</mat-label>
          <input matInput formControlName="qtdMeses" type="text" />
          <mat-icon matSuffix>calendar_month</mat-icon>
        </mat-form-field>
        <div class="buttons">
          <button
            mat-flat-button
            class="button"
            type="submit"
            [disabled]="!this.formGroup.valid"
          >
            <mat-icon>calculate</mat-icon>Calcular
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="this.resposta" class="card">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">Resultado</mat-card-title>
      <mat-card-subtitle class="card-subtitle"
        >Veja quanto pode render seu investimento</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content class="resultado">
      <div>Valor Bruto: R$ {{ printableValue(this.resposta.Bruto) }}</div>
      <div>Valor Líquido: R$ {{ printableValue(this.resposta.Liquido) }}</div>
      <div class="buttons">
        <button
          mat-flat-button
          class="button"
          type="button"
          color="error"
          (click)="this.limpar()"
        >
          <mat-icon>trash</mat-icon>Limpar
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
